.label {
    text-decoration: none;
	background: #005408;
	border-radius: 2px;
	color: #FFF;
	display: inline;
	font-size: 1em;
	padding: 1px 4px;
	vertical-align: baseline;
}

.label-none {
    text-decoration: none;
	border-radius: 2px;
	color: #FFF;
	display: inline;
	font-size: 1em;
	padding: 1px 4px;
	vertical-align: baseline;
}

